@import './modules/mixins';
@import './modules/variables';

.highlight{
  color:$morado;
}

a{
  color: black;
  text-decoration: none;
}

.header{
  padding: 1em;
  background: url('../assets/img/fondo.jpg');
  margin-bottom:5% ;
  .logo{
    @include center-vertical-horizontal-direction(row,wrap);
    padding: 10px;
  }
  .sections{
   @include row-space-around;
    a{
      font-size: 14.5px;
    }
  }

  img{
    width: 100%;
    height: 100%
  }
}

.separation{
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  justify-content: center;
}

.slider{
  .img{
    display: flex;
    @include center-vertical-horizontal;
    height: 130px;
    img{
      @include full;
      cursor: pointer;
      height: 100%;
      @include transition(.6s);
      &.hide{
          opacity: 0;
          transform: translateX(100px);
      }
    } 
  }
  .changer{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    .dot {
      text-align: center;
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color:rgba($color:$lila,$alpha:.4);
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    .selected{
      background-color:rgba($color:$morado,$alpha:1);
    }
  }
}

.tshirts{
  .information{
    @include row-space-around;
  }
  .gallery{
    text-align: right;
    h2{
      margin-right: 5%;
    }
    .colors{
      @include center-vertical-horizontal-direction(row,nowrap);
      .display{
        width: auto;
      }
      .hide{
        width: 0;
        height: 0;
      }
    }
    .catalog{
      display: inline-block;
      img{
        width: 100px;
        height: 100px;
        margin: 10.5%;
      }
    }
  }
}

.printing{
  .gallery{
    display: flex;
    flex-flow: wrap row;
    align-self: center;
    justify-content: center;
    .blocks{
      @include margin-left-right(2%,2%);
      text-align: center;
      color: rgba($color:$morado,$alpha:1);
      padding: 0;
      p{
        font-size: 20px;
      }
      img{
        width: 300px;
        height: 400px;
      }
      &:last-of-type{
        .text{
          padding: 5px;
        }
      }
    }
    img{
      @include margin-top-bottom(5%,5%);
      @include margin-left-right(2%,2%);
      width: 200px;
      height: 300px;
    }
  }
}

.articles{
  .gallery{
    .first-section{
      @include center-vertical-horizontal-direction(row,wrap);
      img{
        margin: 2%;
        width: 100px;
        height: auto;
        &:nth-child(even){
          height: 200px;
        }
      }
    }
    .second-section{
      @include center-vertical-horizontal-direction(row,wrap);
      img{
        margin: 2%;
        width: 200px;
        height: auto;
      }
    }
  }
}

.main-img{
  img{
    @include full
  }
}

@media(max-width:575.98px){
  .header{
    .sections{
      justify-content: space-between;
      a{
        font-size: 5px;
      }
    }
  }

  .tshirts{
    .information{
      font-size: 10px;
    }
  }
}

@media (min-width:576px) and (max-width: 767.98px) {
  .header{
    .sections{
      a{
        font-size: 10px;
      }
    }
  }

  .slider{
    .img{
      height: 250px;
    }
  }
    .tshirts{
      .gallery{
        .catalog{
          img{
            width: 130px;
            height: 130px;
            margin: 6%;
          }
        }
      }
    }
    .printing{
      .blocks{
        &:first-of-type{
          .text{
            p{
              font-size: 40px;
            }
          }
          img{
            width: 350px;
            height: 400px;
          }
        }
      }
      .gallery{
        img{
          @include margin-top-bottom(5%,5%);
          @include margin-left-right(2%,2%);
          width: 200px;
          height: 500px;
        }
      }
    }
  }

@media (min-width:768px) and (max-width: 991.98px) {
  .tshirts{
    .gallery{
      .catalog{
        img{
          width: 200px;
          height: 200px;
        }
      }
    }
  }
  .printing{
    .gallery{
      .blocks{
        img{
          width: 350px;
        }
        &:first-of-type{
          p{
            font-size: 45px;
          }
        }
      }
      img{
        @include margin-top-bottom(5%,5%);
        @include margin-left-right(2%,2%);
        width: 200px;
        height: 450px;
      }
    }
  }
  .articles{
    .gallery{
      .first-section{
        @include center-vertical-horizontal-direction(row,wrap);
        img{
          width: 150px;
          &:nth-child(even){
            height: 275px;
          }
        }
      }
    }
  }
  .slider{
    .img{
      height: 280px;
    }
  }
}


@media(min-width:992px){  
  .header{
    img{
      width: 500px;
    }
  }
  .slider{
    .img{
      height: 430px;
    }
  }
  .tshirts{
    .main-img{
      .information{
        @include padding-left-right(50px,50px);
      }
    }
    .gallery{
      @include grid;
      h2{
       display: none;
      }
      .colors{
        @include grid-column-image(10,13);
        @include grid-row-image(1,13);
        .hide{
          width: 230px;
          height: 100%;
        }
      }
      .catalog{
        @include grid-column-image(1,10);
        @include grid-row-image (1,13);
        img{
          width: 200px;
          height: 200px;
          margin: 5%;
        }
      }
    }
  }
  .printing{
    .gallery{
      .blocks{
        @include margin-left-right(2%,2%);
        img{
          width: 750px;
          height: 800px;
        }
        &:first-of-type{
          p{
            font-size: 55px;
          }
        }
        &:last-of-type{
          p{
            font-size: 30px;
          }
        }
      }
      img{
        @include margin-left-right(2%,2%);
        width: 450px;
        height: 800px;
      }
    }
  }
  .articles{
    .gallery{
      .first-section{
        @include center-vertical-horizontal-direction(row,wrap);
        img{
          margin: 3%;
          width: 200px;
          height: auto;
          &:nth-child(even){
            height: 300px;
          }
        }
      }
      .second-section{
        @include center-vertical-horizontal-direction(row,wrap);
        img{
          margin: 4%;
          width: 350px;
        }
      }
    }
  }
}

