@import './modules/mixins';
@import './modules/variables';

.highlight{
  color:$morado;
}

.title{
  font-size: 1.5em;
  background-color: white;
  @include text-center;
  padding: 5px;
  margin: 10px;
  border-radius: 5%;
  border: solid black;
  box-shadow: 6px 6px 1px rgba(0,0,0,.7);
}

.header{
  background-color: white;
  margin-bottom:5% ;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 6px 6px 1px rgba(0,0,0,.7);
  img{
    width: 500px;
    height: auto;
  }
}

.sidenav{
  margin-top: 0;
  padding: 5px;
  position: fixed;
  top: 1px;
  .open-btn{
    cursor: pointer;
    margin-top: 0;
  }
  .fas{
    color: $morado;
  }
  .nav-display{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    a{
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: $gris;
      display: block;
      transition: 0.3s;
      i{
       margin-right:8px; 
      }
    }
    .close-btn {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
  }
}

.scroll-menu{
  margin-top: 5%;
  overflow: auto;
  white-space: nowrap;
  .container{
    color: $morado;
    display: inline-block;
    width: 300px;
    @include text-center;
    @include padding-top-bottom(10px,10px);
    @include padding-left-right(10px,10px);
    margin-left: 15px;
    margin-bottom: 5%;
    &:hover{
      box-shadow: 10px 5px 10px rgba(0,0,0,.7);
    }
    &:last-of-type{
      margin-right: 15px;
    }
    img{
        cursor: pointer;
        width: 100%;
        height: 300px;
    }
  }
}



.social-media{
  @include text-center;
  h3{
    color: $morado;
  }
  .fab{
    margin-right: 8px;
  }
}

@media(max-width:576px){
  .header{
    img{
      width: 150px;
    }
  }
}

@media (max-width: 768.98px) {
  .slider{
    .grid{
      .text{
        min-height: 250px;
      }
    }
  }
}


@media(min-width:992px){  
  .slider{
    .grid{
      .text{
        @include grid-text(2,7,1.2em);
        padding: 5px;
        min-height: 280px;
        font-size: 1.2em;
      }
      .img{
        @include grid-image(7,12);
        img{
          height: auto;
          min-height: 290px;
        }
      }
    }
  }
  .social-media{
    display: flex;
    flex-flow: row nowrap;
    align-self: center;
    justify-content: space-around;
  }
  
}

