@import './modules/variables';

@font-face{
  font-family: 'Demi';
  src: local('Demi'), url(../assets/fonts/ErasDemiITC.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: Demi;
  background-color: white
}
